<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="accountToken">
	
	<select id="sequence" resultType="long">
		select account_token_seq.nextval from dual
	</select>
	<insert id="add">
		insert into account_token(
			account_token_no, 
			account_token_target, 
			account_token_value
		)
		values(
			#{accountTokenNo}, 
			#{accountTokenTarget}, 
			#{accountTokenValue}
		)
	</insert>
	
	<select id="find" resultType="AccountTokenDto">
		select * from account_token where account_token_no = #{accountTokenNo}
	</select>
	<select id="findByTargetAndToken" resultType="AccountTokenDto">
		select * from account_token
		where account_token_target = #{accountTokenTarget}
			and account_token_value = #{accountTokenValue}
	</select>
	
	<delete id="delete">
		delete account_token where account_token_no = #{accountTokenNo}
	</delete>
	
</mapper>