<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMessage">
	
	<!-- 등록 -->
	<select id="sequence" resultType="long">
		select member_message_seq.nextval from dual
	</select>
	<insert id="add">
		insert into member_message (
			member_message_no, member_message_type,
			member_message_content, member_message_time,
			member_message_sender, member_message_receiver
		) 
		values(
			#{memberMessageNo}, #{memberMessageType},
			#{memberMessageContent}, #{memberMessageTime},
			#{memberMessageSender}, #{memberMessageReceiver}
		)
	</insert>
	
	<!-- 메세지 조회(회원/비회원) -->
	<select id="listForAnonymous" resultType="MemberMessageViewDto">
		select * from member_message_view
		where member_message_type in ('CHAT', 'SYSTEM')
		order by member_message_no asc
	</select>
	<select id="listForMember" resultType="MemberMessageViewDto">
		select * from member_message_view
		where 
			member_message_type in ('CHAT', 'SYSTEM')
			or
			member_message_type = 'DM' 
			and
				(member_message_sender = #{userId} 
				or 
				member_message_receiver = #{userId})
		order by member_message_no asc
	</select>
	
	<!-- 일정 개수만큼만 메세지를 조회(회원/비회원) -->
	<select id="listForAnonymousByPaging" resultType="MemberMessageViewDto">
		select * from (
			<include refid="top-n-header"></include>
			select * from member_message_view
			where member_message_type in ('CHAT', 'SYSTEM')
			<if test="memberMessageNo != null">
				<![CDATA[
				and member_message_no < #{memberMessageNo}
				]]>
			</if>
			order by member_message_no desc
			<include refid="top-n-footer"></include>
		) order by member_message_no asc
	</select>
	<select id="listForMemberByPaging" resultType="MemberMessageViewDto">
		select * from ( 
			<include refid="top-n-header"></include>
			select * from member_message_view
			where 
			(
				member_message_type in ('CHAT', 'SYSTEM')
				or
				member_message_type = 'DM' 
				and
					(member_message_sender = #{userId} 
					or 
					member_message_receiver = #{userId})
			)
			<if test="memberMessageNo != null">
				<![CDATA[
				and member_message_no < #{memberMessageNo}
				]]>
			</if>
			order by member_message_no desc
			<include refid="top-n-footer"></include>
		) order by member_message_no asc
	</select>
	
	<!-- 남아있는 데이터의 개수를 확인하는 구문(회원/비회원) -->
	<select id="countForAnonymousByPaging" resultType="int">
		select count(*) from member_message_view
		where member_message_type in ('CHAT', 'SYSTEM')
		<if test="memberMessageNo != null">
			<![CDATA[
			and member_message_no < #{memberMessageNo}
			]]>
		</if>
	</select>
	<select id="countForMemberByPaging" resultType="int">
		select count(*) from member_message_view
		where 
		(
			member_message_type in ('CHAT', 'SYSTEM')
			or
			member_message_type = 'DM' 
			and
				(member_message_sender = #{userId} 
				or 
				member_message_receiver = #{userId})
		)
		<if test="memberMessageNo != null">
			<![CDATA[
			and member_message_no < #{memberMessageNo}
			]]>
		</if>
	</select>
	
	<!-- Top N Query 템플릿 -->
	<sql id="top-n-header">
		select * from (
			select rownum rn, TMP.* from (
	</sql>
	<sql id="top-n-footer">
			) TMP
		) where rn between 1 and 50
	</sql>
	
</mapper>